@theme inline {
    --color-primary-palette-key-color        : var(--md-sys-color-primary-palette-key-color, light-dark(#578400, #578400));
    --color-secondary-palette-key-color      : var(--md-sys-color-secondary-palette-key-color, light-dark(#697e4a, #697e4a));
    --color-tertiary-palette-key-color       : var(--md-sys-color-tertiary-palette-key-color, light-dark(#00885e, #00885e));
    --color-neutral-palette-key-color        : var(--md-sys-color-neutral-palette-key-color, light-dark(#75786c, #75786c));
    --color-neutral-variant-palette-key-color: var(--md-sys-color-neutral-variant-palette-key-color, light-dark(#737966, #737966));
    --color-background                       : var(--md-sys-color-background, light-dark(#f9fbec, #11140c));
    --color-on-background                    : var(--md-sys-color-on-background, light-dark(#1a1d14, #e2e4d5));
    --color-surface                          : var(--md-sys-color-surface, light-dark(#f9fbec, #11140c));
    --color-surface-dim                      : var(--md-sys-color-surface-dim, light-dark(#d9dbcd, #11140c));
    --color-surface-bright                   : var(--md-sys-color-surface-bright, light-dark(#f9fbec, #373a30));
    --color-surface-container-lowest         : var(--md-sys-color-surface-container-lowest, light-dark(#ffffff, #0c0f07));
    --color-surface-container-low            : var(--md-sys-color-surface-container-low, light-dark(#f3f5e6, #1a1d14));
    --color-surface-container                : var(--md-sys-color-surface-container, light-dark(#edefe1, #1e2118));
    --color-surface-container-high           : var(--md-sys-color-surface-container-high, light-dark(#e7e9db, #282b22));
    --color-surface-container-highest        : var(--md-sys-color-surface-container-highest, light-dark(#e2e4d5, #33362c));
    --color-on-surface                       : var(--md-sys-color-on-surface, light-dark(#1a1d14, #e2e4d5));
    --color-surface-variant                  : var(--md-sys-color-surface-variant, light-dark(#dfe5cf, #434938));
    --color-on-surface-variant               : var(--md-sys-color-on-surface-variant, light-dark(#434938, #c3c9b3));
    --color-inverse-surface                  : var(--md-sys-color-inverse-surface, light-dark(#2e3228, #e2e4d5));
    --color-inverse-on-surface               : var(--md-sys-color-inverse-on-surface, light-dark(#f0f2e3, #2e3228));
    --color-outline                          : var(--md-sys-color-outline, light-dark(#737967, #8d937f));
    --color-outline-variant                  : var(--md-sys-color-outline-variant, light-dark(#c3c9b3, #434938));
    --color-shadow                           : var(--md-sys-color-shadow, light-dark(#000000, #000000));
    --color-scrim                            : var(--md-sys-color-scrim, light-dark(#000000, #000000));
    --color-surface-tint                     : var(--md-sys-color-surface-tint, light-dark(#446900, #a3d656));
    --color-primary                          : var(--md-sys-color-primary, light-dark(#000000, #ffffff));
    --color-on-primary                       : var(--md-sys-color-on-primary, light-dark(#bef36f, #111f00));
    --color-primary-container                : var(--md-sys-color-primary-container, light-dark(#2a4200, #b0e563));
    --color-on-primary-container             : var(--md-sys-color-on-primary-container, light-dark(#ffffff, #000000));
    --color-inverse-primary                  : var(--md-sys-color-inverse-primary, light-dark(#a3d656, #446900));
    --color-secondary                        : var(--md-sys-color-secondary, light-dark(#516533, #b7cf93));
    --color-on-secondary                     : var(--md-sys-color-on-secondary, light-dark(#ffffff, #111f00));
    --color-secondary-container              : var(--md-sys-color-secondary-container, light-dark(#c5dda0, #3a4d1e));
    --color-on-secondary-container           : var(--md-sys-color-on-secondary-container, light-dark(#111f00, #d3ebad));
    --color-tertiary                         : var(--md-sys-color-tertiary, light-dark(#00452e, #8df7c5));
    --color-on-tertiary                      : var(--md-sys-color-on-tertiary, light-dark(#8df7c5, #002114));
    --color-tertiary-container               : var(--md-sys-color-tertiary-container, light-dark(#00855c, #33a376));
    --color-on-tertiary-container            : var(--md-sys-color-on-tertiary-container, light-dark(#ffffff, #000000));
    --color-error                            : var(--md-sys-color-error, light-dark(#ba1a1a, #ffb4ab));
    --color-on-error                         : var(--md-sys-color-on-error, light-dark(#ffffff, #690005));
    --color-error-container                  : var(--md-sys-color-error-container, light-dark(#ffdad6, #93000a));
    --color-on-error-container               : var(--md-sys-color-on-error-container, light-dark(#410002, #ffdad6));
    --color-primary-fixed                    : var(--md-sys-color-primary-fixed, light-dark(#446900, #446900));
    --color-primary-fixed-dim                : var(--md-sys-color-primary-fixed-dim, light-dark(#324f00, #324f00));
    --color-on-primary-fixed                 : var(--md-sys-color-on-primary-fixed, light-dark(#ffffff, #ffffff));
    --color-on-primary-fixed-variant         : var(--md-sys-color-on-primary-fixed-variant, light-dark(#bef36f, #bef36f));
    --color-secondary-fixed                  : var(--md-sys-color-secondary-fixed, light-dark(#b7cf93, #b7cf93));
    --color-secondary-fixed-dim              : var(--md-sys-color-secondary-fixed-dim, light-dark(#9db37a, #9db37a));
    --color-on-secondary-fixed               : var(--md-sys-color-on-secondary-fixed, light-dark(#111f00, #111f00));
    --color-on-secondary-fixed-variant       : var(--md-sys-color-on-secondary-fixed-variant, light-dark(#2f4114, #2f4114));
    --color-tertiary-fixed                   : var(--md-sys-color-tertiary-fixed, light-dark(#006c4a, #006c4a));
    --color-tertiary-fixed-dim               : var(--md-sys-color-tertiary-fixed-dim, light-dark(#005237, #005237));
    --color-on-tertiary-fixed                : var(--md-sys-color-on-tertiary-fixed, light-dark(#ffffff, #ffffff));
    --color-on-tertiary-fixed-variant        : var(--md-sys-color-on-tertiary-fixed-variant, light-dark(#8df7c5, #8df7c5));
}